<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Please sign in</title>
<link rel="stylesheet" href="/assets/lib/layui/css/layui.css">
<link rel="stylesheet" href="/assets/css/login.css">
</head>
<body>
<div class="layui-layout login">
<form class="layui-form layui-form-pane" method="post" th:action="@{/login}">
  <div class="layui-form-item">
    <label class="layui-form-label layui-icon layui-icon-username login-label"></label>
    <div class="layui-input-inline login-input">
      <input type="text" name="username" required  lay-verify="required" placeholder="Enter Username" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label layui-icon layui-icon-password login-label"></label>
    <div class="layui-input-inline login-input">
      <input type="password" name="password" required lay-verify="required" placeholder="Enter Passsword" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-inline">
	  <input type="checkbox" name="remenber" title="Remember me" lay-skin="primary" checked>
    </div>
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="formDemo">Sign in</button>
    </div>
  </div>
</form>
</div>
<script src="/assets/lib/layui/layui.js"></script>
<script>
//JavaScript代码区域
layui.use(['element', 'form'], function(){
  var element = layui.element;
  var form = layui.form;
  
});
</script>
</body>
</html>