<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>XinXinagACS</title>
  <link rel="stylesheet" href="/assets/lib/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">XinXinagACS</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left" lay-filter="mainmenu">
      <li class="layui-nav-item layui-this"><a href="javascript:;" id="main1">员工管理</a></li>
      <li class="layui-nav-item"><a href="javascript:;" id="main2">访客管理</a></li>
      <li class="layui-nav-item"><a href="javascript:;" id="main3">区域设备</a></li>
      <li class="layui-nav-item"><a href="javascript:;" id="main4">考情系统</a></li>
      <li class="layui-nav-item"><a href="javascript:;" id="main6">系统设置</a></li>
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">Administrator
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a th:href="@{/logout}">退出</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll" id="sidemenu">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="sidemenu">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">所有商品</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">列表一</a></dd>
            <dd><a href="javascript:;">列表二</a></dd>
            <dd><a href="javascript:;">列表三</a></dd>
            <dd><a href="">超链接</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">解决方案</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">列表一</a></dd>
            <dd><a href="javascript:;">列表二</a></dd>
            <dd><a href="">超链接</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item"><a href="">云市场</a></li>
        <li class="layui-nav-item"><a href="">发布商品</a></li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
	<div class="layui-tab" lay-filter="demo" lay-allowclose="true" style="margin-top:0px;">
	  <ul class="layui-tab-title">
	    <li class="layui-this" lay-id="11">网站设置</li>
	    <li lay-id="22">用户管理</li>
	    <li lay-id="33">权限分配</li>
	    <li lay-id="44">商品管理</li>
	    <li lay-id="55">订单管理</li>
	  </ul>
	  <div class="layui-tab-content">
	    <div class="layui-tab-item layui-show">内容1</div>
	    <div class="layui-tab-item">内容2</div>
	    <div class="layui-tab-item">内容3</div>
	    <div class="layui-tab-item">内容4</div>
	    <div class="layui-tab-item">内容5</div>
	  </div>
	</div>
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © layui.com - 底部固定区域
  </div>
</div>
<script src="/assets/lib/layui/layui.js"></script>
<script id="sidemenutpl" type="text/html">
  <ul class="layui-nav layui-nav-tree"  lay-filter="sidemenu">
  {{#  layui.each(d, function(index, item){ }}
    <li class="layui-nav-item">
      <a class="" href="javascript:;">{{ item.name }}</a>
        <dl class="layui-nav-child">
  		{{#  layui.each(item.children, function(index, child){ }}
          <dd><a href="javascript:;">{{ child.name }}</a></dd>
  		{{#  }); }}
		</dl>
  {{#  }); }}
  </ul>
</script>
<script>
//JavaScript代码区域
layui.use(['element','laytpl'], function(){
  var element = layui.element;
  var laytpl = layui.laytpl;
  
  element.on('nav(mainmenu)', function(elem){
	  console.log(elem); //得到当前点击的DOM对象
	  data = data1;
	 	laytpl(getTpl).render(data, function(html){
	 		  view.innerHTML = html;
	 		});
	 		element.render('nav');
	});
  
  var data1 = [{ //数据
			  "name":"部门设置1",
			  "children":[{"name":"弹层"},{"name":"aaa"}]
		},{
			  "name":"员工管理1",
			  "children":[{"name":"弹层1"},{"name":"bbb"}]
		}];
  
  var data = [{ //数据
			  "name":"部门设置",
			  "children":[{"name":"弹层"},{"name":"aaa"}]
		},{
			  "name":"员工管理",
			  "children":[{"name":"弹层1"},{"name":"bbb"}]
		}];
  
	var getTpl = sidemenutpl.innerHTML;
	var view = document.getElementById('sidemenu');
 	laytpl(getTpl).render(data, function(html){
	  view.innerHTML = html;
	});
	element.render('nav');
});
</script>
</body>
</html>